<head>
  <title>Resume Assets</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    body {
      font-family: sans-serif;
      text-rendering: optimizespeed;
    }

    a {
      color: #006ed3;
      text-decoration: none;
    }

    a:hover,
    h1 a:hover {
      color: #319cff;
    }

    header,
    #summary {
      padding-left: 5%;
      padding-right: 5%;
    }

    th:first-child,
    td:first-child {
      padding-left: 5%;
    }

    th:last-child,
    td:last-child {
      padding-right: 5%;
    }

    header {
      padding-top: 25px;
      padding-bottom: 15px;
      background-color: #f2f2f2;
    }

    h1 {
      font-size: 20px;
      font-weight: normal;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      color: #999;
    }

    h1 a {
      color: #000;
      margin: 0 4px;
    }

    h1 a:hover {
      text-decoration: underline;
    }

    h1 a:first-child {
      margin: 0;
    }

    main {
      display: block;
    }

    .meta {
      font-size: 12px;
      font-family: Verdana, sans-serif;
      border-bottom: 1px solid #9C9C9C;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .meta-item {
      margin-right: 1em;
    }

    #filter {
      padding: 4px;
      border: 1px solid #CCC;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    tr {
      border-bottom: 1px dashed #dadada;
    }

    tbody tr:hover {
      background-color: #ffffec;
    }

    th,
    td {
      text-align: left;
      padding: 10px 0;
    }

    th {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 16px;
      white-space: nowrap;
    }

    th a {
      color: black;
    }

    th svg {
      vertical-align: middle;
    }

    td {
      white-space: nowrap;
      font-size: 14px;
    }

    td:first-child {
      width: 100%;
    }

    td:nth-child(2) {
      padding: 0 20px 0 20px;
    }

    th:last-child,
    td:last-child {
      text-align: right;
    }

    td:first-child svg {
      position: absolute;
    }

    td .name,
    td .goup {
      margin-left: 1.75em;
      word-break: break-all;
      overflow-wrap: break-word;
      white-space: pre-wrap;
    }

    .icon {
      margin-right: 5px;
    }

    .icon.sort {
      display: inline-block;
      width: 1em;
      height: 1em;
      position: relative;
      top: .2em;
    }

    .icon.sort .top {
      position: absolute;
      left: 0;
      top: -1px;
    }

    .icon.sort .bottom {
      position: absolute;
      bottom: -1px;
      left: 0;
    }

    footer {
      padding: 40px 20px;
      font-size: 12px;
      text-align: center;
    }

    @media (max-width: 600px) {
      .hideable {
        display: none;
      }
      td:first-child {
        width: auto;
      }
      th:nth-child(2),
      td:nth-child(2) {
        padding-right: 5%;
        text-align: right;
      }
      h1 {
        color: #000;
      }
      h1 a {
        margin: 0;
      }
      #filter {
        max-width: 100px;
      }
    }

  </style>
</head>

